html {
    background-image: url("/static/images/background.png");
    background-size: cover;
}
body {
    width: 1000px;
    margin: auto;
    font-family: "segoe ui", "lucida sans unicode", "lucida grande", lucida, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #444;
    
}
.svg-container {
    width: 100%;
    /* border: 1px solid white; */
}
.svg-container>svg {
    width: 1000px;
    height: 1220px;
    /* border: 1px solid black; */
}
.customer-info {
    background-image: url("/static/images/background.png");
    background-size: cover;
    /* border-radius: 5px; */
    padding: 20px 20px 0 20px;
    margin: 0px 0px 0px 0px;
    color: whitesmoke;
}

.detail-content {
    padding: 20px;
    padding-left: 60px;
    font-size: 19px;
}
h4 {
    font-size: 22px;
    font-style: italic;
    line-height: 50px;    
}

h5 {
    width: 100%;
    background-image: url("/static/images/background.png");
    color: white;
    padding: 10px;
    text-align: right;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 24px;
}
h6 {
    padding-top: 5px;
    font-size: 22px;
    color: rgb(6, 38, 47);
}
.detail {
    padding: 10px 10px;
    padding-left: 30px;
    width: 100%;
}
.detail>p {
    margin-bottom: 3px;
    line-height: 50px;
}

.icon-bar {
    position: fixed;
    top: 20%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0.5;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: black;
}

.printer {
    background: #3B5998;
    color: white;
}

@media print 
{
    @page
    {
        size: 8.5in 11in;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .svg-container>svg {
        /* margin-left: 100px; */
    }
    .icon-bar {
        opacity: 0;
    }
}