<html>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/ico" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  <head>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
  </head>
  <script>
    var houses;
    $(document).ready(function() {
      details = {{ details | tojson | safe }};
      houses = {{ houses | tojson | safe }};
      planets = {{ planets | tojson | safe }};
      lines = {{ lines | tojson | safe }};
      transitHouses = {{ transitHouses | tojson | safe }};
      transitPlanets = {{ transitPlanets | tojson | safe }};
      progressHouses = {{ progressHouses | tojson | safe }};
      progressPlanets = {{ progressPlanets | tojson | safe }};
      orbs = {{ orbs | tojson | safe }};
      drawAstro();
      getContent();
    });

    function getContent() {
      // console.log("HOUSE-------------", houses);
      // console.log("PLANET-------------", planets);
      // console.log(details);
      $("#sun").html(details.sun);
      $("#moon").html(details.moon);
      $("#mercury").html(details.mercury);
      $("#venus").html(details.venus);
      $("#mars").html(details.mars);
      $("#jupiter").html(details.jupiter);
      $("#saturn").html(details.saturn);
      $("#northnode").html(details.northnode);
      for (let i = 0; i < 12; i++) {
        $("#house" + (i + 1).toString()).html(details.house_contents[i]);
      }
    }
  </script>
  <body>
    <div class="icon-bar">
      <a href="#" class="printer" onclick="print();"><i class="fa fa-print"></i></a> 
    </div>
    <div class="svg-container">
      <div class="customer-info row">
        <div class="col-4" style="padding-left: 50px;">
          <p><i class="fa fa-user" style="width: 30px;"></i>{{ info['str_customer_name'] }}</p>
          <p><i class="fa fa-birthday-cake" style="width: 30px;"></i>{{ info['str_birth_date'] }}</p>
          <p><i class="fa fa-map-marker" style="width: 30px;"></i>{{ info['str_location'] }}</p>
        </div>
        <div class="col-6">
          <!-- <p>Natal, Transits and Progressions chart</p> -->
          <p style="color: #f0ad4e; font-size: 15px; font-weight: 600;">NATAL, TRANSITS & PROGRESSIONS CHART</p>
          <div class="row">
            <p class="col-3 pr-0">Transits: </p>
            <p class="col-9" style="color: #cc4b4c">{{ info['str_transits_date'] }}</p>
          </div>
          <div class="row">
            <p class="col-3 pr-0">Progressions: </p>
            <p class="col-9" style="color: #1abb9c">{{ info['str_progress_date'] }}</p>
          </div>
        </div>
        <div class="col-2 text-right pr-0">
          <img src="/static/images/logo.png" width="80px"/>
        </div>
      </div>
      <svg id="main-svg">
      </svg>
    </div>
    <div class="detail-content">
      <h5>CHIÊM TINH HỌC HÀNH VI</h5>
      <h6>TÍNH CÁCH HOÀN THIỆN CỦA BẠN KHI TRƯỞNG THÀNH</h6>
      <div id="sun" class="detail"></div>
      <h6>PHÂN TÍCH NỘI TÂM BÊN TRONG</h6>
      <div id="moon" class="detail"></div>
      <h6>PHÂN TÍCH PHONG CÁCH TƯ DUY VÀ ĂN NÓI</h6>
      <div id="mercury" class="detail"></div>
      <h6>PHÂN TÍCH PHONG CÁCH YÊU</h6>
      <div id="venus" class="detail"></div>
      <h6>PHÂN TÍCH PHONG CÁCH HÀNH ĐỘNG</h6>
      <div id="mars" class="detail"></div>
      <h6>MAY MẮN TRONG CUỘC ĐỜI</h6>
      <div id="jupiter" class="detail"></div>
      <h6>KHÓ KHĂN GIÚP PHÁT TRIỂN</h6>
      <div id="saturn" class="detail"></div>
      <h6>KIẾP TRƯỚC VÀ NHỮNG BÀI HỌC Ở KIẾP NÀY</h6>
      <div id="northnode" class="detail"></div>
      <h4>Trong quan điểm của Chiêm tinh học, phần lớn bức tranh cuộc đời Bạn là những mảnh ghép đã được sắp đặt sẵn. Bài luận giải trong Chiêm tinh giống như việc khi bạn về già, đi hết cuộc đời rồi, Bạn viết lại cuộc đời của chính mình ở tất cả mọi khía cạnh. Vì thế có rất nhiều điều đã xảy ra, Bạn đọc ngẫm sẽ thấy đúng ngay; nhưng cũng có rất nhiều điều chưa xảy ra, vì nó ở thì tương lai. Vì thế hãy cứ lưu lại để chiêm nghiệm Bạn nhé!</h4>
      <h5>TỔNG QUAN TẤT CẢ CÁC KHÍA CẠNH TRONG CUỘC ĐỜI</h5>
      <h6>1. VỀ BẢN THÂN</h6>
      <div id="house1" class="detail"></div>
      <h6>2. TIỀN BẠC, VẬT CHẤT TỰ LÀM RA</h6>
      <div id="house2" class="detail"></div>
      <h6>3. TƯ DUY GIAO TIẾP, HỌC TẬP ĐI LẠI GẦN</h6>
      <div id="house3" class="detail"></div>
      <h6>4. GIA ĐÌNH VÀ HẬU VẬN</h6>
      <div id="house4" class="detail"></div>
      <h6>5. TÌNH YÊU VÀ CON CÁI</h6>
      <div id="house5" class="detail"></div>
      <h6>6. CÔNG VIỆC VÀ SỨC KHỎE</h6>
      <div id="house6" class="detail"></div>
      <h6>7. HÔN NHÂN VÀ ĐỐI TÁC</h6>
      <div id="house7" class="detail"></div>
      <h6>8. TIỀN, TÀI SẢN THỪA KẾ</h6>
      <div id="house8" class="detail"></div>
      <h6>9. HỌC CAO, ĐI NƯỚC NGOÀI</h6>
      <div id="house9" class="detail"></div>
      <h6>10. CÔNG DANH SỰ NGHIỆP, ĐỊA VỊ XÃ HỘI</h6>
      <div id="house10" class="detail"></div>
      <h6>11. BẠN BÈ XÃ GIAO, CÔNG TY ĐỘI NHÓM</h6>
      <div id="house11" class="detail"></div>
      <h6>12. TÂM LINH, GIÁC QUAN THỨ 6 VÀ NHỮNG ĐIỀU GIẤU ĐI</h6>
      <div id="house12" class="detail"></div>
    </div>
  </body>
</html>